nav {
  a {
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 700;
  }
  li {

  }
  &.overlay {
    a {
      @include breakpoint(medium) {
        color: $secondary-color;
      }
    }
  }
}
