p {
  //font-size: rem-calc(18px);
}

.section-title, .section-subtitle {
  font-weight: bold;
  &.inverse {
    color: $white;
  }
}
.intro-title {
  color: $white;
  font-size: rem-calc(48px);
  margin-bottom: rem-calc(10px);
  font-weight: bold;  
}
.section {
  &-title {
    color: $primary-color;
    font-size: rem-calc(36px);
    margin-bottom: rem-calc(10px);
  }
  &-subtitle {
    display: inline-block;
    color: $dark-gray;
    font-size: rem-calc(24px);
    text-transform: capitalize;
  }
  &-desc {
    margin: 0 5% rem-calc(30px);
    @include breakpoint(medium) {
      margin: 0 20% rem-calc(30px);
    };
  }
  &-title, &-subtitle, &-desc {
    .bg-primary &, .bg-dark & {
      color: $white;
      border-color: $white;
    }
  }
  &-subheader {
    font-size: rem-calc(16px);
    font-weight: bold;
    margin-bottom: rem-calc(10px);
    text-transform: capitalize;
  }
}
.box {
  &-title {
    font-size: rem-calc(27px);
    color: $white;
    margin-bottom: rem-calc(10px);
  }
  &-desc {
    color:$white;
  }
}
.property {
  &-title {
    text-align: right;
    color: $white;
    font-family: $body-font-family;
    &-name, &-address, &-city-state {
      display:block;
    }
    &-name {
      font-weight: bold;

    }
    &-address {
      font-size:rem-calc(14px);
    }
    &-city-state {
      font-size:rem-calc(14px);
    }
  }
  &-status {
    font-size: rem-calc(12px);
    text-transform: uppercase;
    margin: rem-calc(3px) 0;
    color: white;
    font-weight: bold;
  }
}
.tile {
  &-title {
    display: inline-block;
    color: $success-color;
    margin-bottom: rem-calc(10px);
  }
}
.agent {
  margin: 0 0 rem-calc(0);
  &-name {
    color: $white;//$secondary-color;
    //font-family:$font-family-slab;
    font-size:rem-calc(21px);
    .agent-about &, .agent-resume & {
      color: $black;
    }
  }
  &-meta {
    color: white;
    font-size:rem-calc(16px);
    font-style: italic;
    .agent-about &, .agent-resume & {
      color: $light-gray;
    }
  }
  &-contact {
    &.phone, &.email, &.secondary {
      @include breakpoint(medium) {
        color: $primary-color;
        font-weight: bold;
        font-size:rem-calc(15px);
        &:hover {
          color:$secondary-color;
        }
      };
    }
  }
}
.footer {
  &-text {
    display: inline-block;
    font-size:rem-calc(10px);
    color: darken($white, 50%);
    &:hover {
      color: $white;
    }
  }
  &-link {
    display: inline-block;
    font-size:rem-calc(12px);
    color: darken($white, 50%);
    padding: 0 rem-calc(20px)
    &:hover {
      color: $white;
    }
  }
  &-disclaimer, &-address {
    @include breakpoint(medium) {
      margin-top: rem-calc(10px);
      font-size: rem-calc(10px);
    };
  }
  &-title {
    font-size: rem-calc(30px);
    color: $light-gray;
  }
}
i {
  &.fa-3x {
    font-size: rem-calc(21);
    padding: rem-calc(10px) 0;
    margin: 0 rem-calc(5px);
    .agent-contact & {
      color: $white;
      @include breakpoint(medium) {
        color: $primary-color;
      };
    }
    @include breakpoint(medium) {
      padding: 0;
    };
  }
}
ul {
  .rev_slider & {
    margin: 0;
  }
}
.tp-caption.BigBold-Title,
.BigBold-Title {
    color: rgba(255, 255, 255, 1.00);
    font-size: 110px;
    line-height: 100px;
    font-weight: 800;
    font-style: normal;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 10px 0px 10px 0;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left;
    .pre, .post {
      font-weight: 300;
    }
}
.tp-caption.BigBold-SubTitle,
.BigBold-SubTitle {
    color: rgba(#f5ee91, 1);
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    font-style: normal;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0 0 0 0px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left;
    letter-spacing: 1px
}
.tp-caption.BigBold-Button,
.BigBold-Button {
    color: rgba(255, 255, 255, 1.00);
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    font-style: normal;
    font-family: Raleway;
    padding: 15px 50px 15px 50px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0.50);
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 0px 0px 0px;
    text-align: left;
    letter-spacing: 1px
}
.tp-caption.BigBold-Button:hover,
.BigBold-Button:hover {
    color: rgba(255, 255, 255, 1.00);
    text-decoration: none;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 1.00);
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 0px 0px 0px
}
