p {
  //font-size: rem-calc(18px);
}

.intro-title {
  color: $white;
  font-size: rem-calc(48px);
  margin-bottom: rem-calc(10px);
  font-weight: bold;
  text-shadow: 0px 0px 20px $secondary-color;
  @include breakpoint(medium) {
    font-size: rem-calc(72px);
  };
}
.page {
  &-title {
    font-size: rem-calc(36px);
    text-transform: uppercase;
    color: $secondary-color;
    font-weight: 900;
    margin:0 0 30px;
    @include breakpoint(medium) {
      margin-bottom:0;
    };
    span {
      font-weight:300;
    }
  }
}
.section {
  font-weight: bold;
  &-title {
    color: $primary-color;
    font-size: rem-calc(36px);
    margin-bottom: rem-calc(10px);
  }
  &-subtitle {
    display: inline-block;
    color: $dark-gray;
    font-size: rem-calc(24px);
    text-transform: capitalize;
  }
  &-desc {
    margin: 0 5% rem-calc(30px);
    @include breakpoint(medium) {
      margin: 0 20% rem-calc(30px);
    };
  }
  &-title, &-subtitle, &-desc {
    .bg-primary &, .bg-dark & {
      color: $white;
      border-color: $white;
    }
  }
  &-subheader {
    font-size: rem-calc(16px);
    font-weight: bold;
    margin-bottom: rem-calc(10px);
    text-transform: capitalize;
  }
}
.box {
  &-title {
    font-size: rem-calc(27px);
    color: $white;
    margin-bottom: rem-calc(10px);
  }
  &-desc {
    color:$white;
  }
}
.project {
  &-title {
    display: inline-block;
    font-size: rem-calc(36px);
    text-transform: uppercase;
    font-family: $body-font-family;
    font-weight: 300;
    margin-top: rem-calc(10px);
    line-height: 1;
  }
  &-address, &-city {
    font-size:rem-calc(14px);
  }&-desc {
    margin-top: rem-calc(10px);
  }
  &-type {
    display: inline-block;
    font-size: rem-calc(18px);
    color: $secondary-color;
    text-transform: uppercase;
    margin: 0 rem-calc(10px);
  }
}
