<footer>
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center align-bottom text-center">
      <div class="small-8 medium-3 cell">
        <img src="assets/img/logo-nkf-wht.png" />
      </div>
      <div class="small-12 medium-9 cell">
        <div class="grid-x grid-margin-x align-bottom">
          <div class="small-12 medium-4 cell">
            <p class="footer-text footer-address"><i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>1333 N. California Blvd, Ste 343 | Walnut Creek, CA</p>
          </div>
          <div class="small-12 medium-4 cell">
            <a class="footer-link" href="tel:925-974-0100"><i class="fa fa-phone fa-3x" aria-hidden="true"></i></a>
            <a class="footer-link" href="https://nkf.re/NKFFbook"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
            <a class="footer-link" href="https://nkf.re/NKFtwitter"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
            <a class="footer-link" href="https://nkf.re/NKFLinkedin"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
          </div>
          <div class="small-12 medium-4 cell">
            <p class="footer-text footer-disclaimer"> &copy;2017 All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
