<div class="grid-x small-up-2 medium-up-3 masonry"  data-masonry='{ "itemSelector": ".cell", "percentPosition": true, "transitionDuration": 0}'>
  <div class="cell"><a data-open="property-name-img-1"><img class="gallery-image" src="http://placehold.it/600x600" alt=""></a></div>
  <div class="cell"><a data-open="property-name-img-2"><img class="gallery-image" src="http://placehold.it/1200x600" alt=""></div>
  <div class="cell"><a data-open="property-name-img-3"><img class="gallery-image" src="http://placehold.it/600x500" alt=""></div>
  <div class="cell"><a data-open="property-name-img-4"><img class="gallery-image" src="http://placehold.it/600x1000" alt=""></div>
  <div class="cell"><a data-open="property-name-img-5"><img class="gallery-image" src="http://placehold.it/800x600" alt=""></div>
  <div class="cell"><a data-open="property-name-img-6"><img class="gallery-image" src="http://placehold.it/600x600" alt=""></div>
  <div class="cell"><a data-open="property-name-img-7"><img class="gallery-image" src="http://placehold.it/600x450" alt=""></div>
  <div class="cell"><a data-open="property-name-img-8"><img class="gallery-image" src="http://placehold.it/600x750" alt=""></div>
</div>
