<div class="large reveal" id="property-name-img-1" data-reveal>
  <img src="http://placehold.it/1200x1800" alt="">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="large reveal" id="property-name-img-2" data-reveal>
  <img src="http://placehold.it/2400x1200" alt="">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="large reveal" id="property-name-img-3" data-reveal>
  <img src="http://placehold.it/1200x1000" alt="">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="large reveal" id="property-name-img-4" data-reveal>
  <img src="http://placehold.it/1200x2000" alt="">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="large reveal" id="property-name-img-5" data-reveal>
  <img src="http://placehold.it/1600x1200" alt="">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="large reveal" id="property-name-img-6" data-reveal>
  <img src="http://placehold.it/1200x1200" alt="">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="large reveal" id="property-name-img-7" data-reveal>
  <img src="http://placehold.it/1200x900" alt="">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="large reveal" id="property-name-img-8" data-reveal>
  <img src="http://placehold.it/1200x1500" alt="">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
