<header role="main" aria-label="primary">
  <div class="grid-container">
    <div class="grid-x top-bar">
      <div class="auto show-for-small-only cell">
        <div class="icn-nav" data-toggle="offCanvas"></div><!--button type="button" class="button" data-toggle="offCanvas">Open Menu</button -->
      </div>
      <div class="small-6 medium-9 cell show-for-medium">
        {{> navigation}}
      </div>
      <div class="small-6 medium-auto cell">
        <img src="assets/img/logo-nkf-wht.png" />
      </div>
    </div>
  </div>
</header>
