<section class="hero align-middle">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle intro">
      <div class="small-12 cell text-center">
        &nbsp;
      </div>
      <div class="small-12 medium-8 cell text-center">
        <h1 class="intro-title">We Still Build Things Like They Used To.</h1>
      </div>
      <div class="small-12 cell text-center">
        <a href="work.html" class="button button--transparent">See Our Work</a>
      </div>
    </div>
  </div>
  <div class="grid-container full">
    <div class="grid-x grid-margin-x align-center align-middle">
      <div class="small-12 cell cover">
        <div class="overlay"></div>
        <img class="hero-bg" data-interchange="[{{root}}/assets/img/bg-home-1-sm.jpg, small], [{{root}}/assets/img/bg-home-1-lg.jpg, large]">
        {{> footer}}
      </div>
    </div>
  </div>
</section>
